body {
  /*background-image: url('../assets/example.jpeg') ;*/
  background-color: white;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  color: #424242;
  font-weight: bold;
}

div {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

button {
  border: solid #424242;
  background: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  width: 250px;
  transition: 0.3s ease-out;
}

button:focus {
  outline: none !important;
}

.inputText {
  margin: 0 auto;
  display: flex;
  width: 250px;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  height: 30px;
  border: 0;
  background: none;
  border-bottom: 1px solid #424242;
  transition: box-shadow 0.3s ease-out;
}

.inputText:focus {
  outline: none;
  box-shadow: 0 10px 10px -6px #424242;
}

#info {
  font-weight: bold;
  font-size: 2em;
}
